/.idea/*
/outputs/*
/.vscode/*
**/__pycache__
/analysis/fig/*
data/*
experiments/*
openset_imagenet.egg-info
*.dataset
*.csv
protocols/
counterfactual-open-set/images/
counterfactual-open-set/trajectories/
counterfactual-open-set/trajectories/PLOT_IT